@using DFlow.Tenants.Core.Model
@model DFlow.WebApp.Features.Tenants.TenantIndexViewModel

@{
    ViewData["Title"] = Model.Title;

    Func<dynamic, object> pager =

        @<cs-pager cs-pager-ul-class="pagination pagination-sm pagination no-margin pull-right"
                   cs-paging-info="@Model.Paging"
                   cs-pagenumber-param="p"
                   asp-controller="Tenants"
                   asp-action="Index"
                   asp-route-ps="@Model.Paging.ItemsPerPage"
                   asp-route-search="@Model.Search">
        </cs-pager>;

    Func<dynamic, object> links =

        @<div class="links">
            <a asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Cliente</a>
        </div>;

    Func<dynamic, object> searchForm =

        @<form asp-action="Index" method="get">
            <input type="hidden" name="p" id="p">
            <input type="hidden" name="ps" id="ps">

            <div class="input-group input-group-sm">
                <input type="search" asp-for="Search" class="form-control input-sm" placeholder="Buscar...">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </form>;

    Func<dynamic, object> table =

        @<table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Notas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Tenant tenant in Model.Items)
                {
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@tenant.Id">@tenant.Owner</a></td>
                        <td></td>
                        <td class="index-ops">
                            <div class="icons">
                                <a asp-action="Details" asp-route-id="@tenant.Id"><span title="Consultar"><i class="fa fa-file-text-o" aria-hidden="true"></i></span></a> |
                                <a asp-action="Edit" asp-route-id="@tenant.Id"><span title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></span></a> |
                                <a asp-action="Delete" asp-route-id="@tenant.Id"><span title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>;

}

@section PageHeader{
    <h2>@Model.Title</h2>
    @links(Model)
}


@Html.Partial("AlertsPartial")

<div class="box" style="max-width: 845px;">

    <div class="box-header with-border">
        <div style="width: 33%; float: left;">
            @searchForm(Model)
        </div>
        @pager(Model)
    </div>

    <div class="box-body">
        @table(Model)
    </div>

    <div class="box-footer">
        @pager(Model)
    </div>

</div>

@links(Model)
