@model DFlow.WebApp.Features.Tenants.TenantListViewModel

@{
    ViewData["Title"] = Model.Title;

    Func<dynamic, object> Pager =

        @<div>
            <cs-pager cs-pager-ul-class ="pagination pagination-sm"
                      cs-paging-info="@Model.Paging"
                      cs-pagenumber-param="p"
                      asp-controller="Tenants"
                      asp-action="Index"
                      asp-route-ps="@Model.Paging.ItemsPerPage">
            </cs-pager>
        </div>;
    
    Func<dynamic, object> Links =

        @<div class="links">
            <a asp-action="Create">Agregar Cliente</a>
        </div>;
}

<h2>@Model.Title</h2>

@Links(Model)

@Html.Partial("AlertsPartial")

@Pager(Model)

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Notas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Owner</td>
                <td></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Pager(Model)

@Links(Model)
